body {
    background-color: darkgoldenrod;
    display: grid;
    column-gap: .5vw;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.practiceUnit{
    background-color: aqua;
    border-radius: 2vw;
    border: groove;
    box-shadow: 1vw 1vw 2vw black;
}

#clock{
    text-shadow: .25vw .25vw .5vw lightgray;
    text-align: center;
    border-radius: 2vw;
    grid-auto-columns: auto;
    font-family: fantasy;
    font-style: italic;
    font-size: 6vw ;
    background-color: brown;
}

#tipCalculator{
    border-radius: 2vw;
    overflow: hidden;
}


#tipCalculatorHeader{
    text-align: center;
    padding:.5vw;
    background-color: gray;
}

#tipCalculatorInterior{
    padding:1vw;
}

#tipResults{
    padding: .5vw;
    background-color: gray;
    text-align: center;
}

#tipCalculatorButton{
    text-align: center;
}

#date{
    color: darkgray;
    font-size: 4vw;
    padding: .5vw;
    background-color:rgb(43, 11, 102);
    text-align: center;
}

#dropDown{
    background-color: greenyellow;
    padding: 1vw;
    position: relative;
    display: inline-block;
    text-align: center;
}

#dropDownButton{
    font-size: 3vw;
    cursor:pointer;
}

#dropDownMenu{
    margin-left:23%;
    position: absolute;
}

.dropDownButton:hover, .dropDownButton:focus{
    background-color: darkorange;
}

.hide{
    display: none;
}

.show {
    padding: .5vw;
    font-size: 2.5vw;
    border: groove;
    background-color: grey;
    display: show;
    cursor: pointer;
}

.dropContent:hover{
    background-color: blanchedalmond;
}